:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #9acbd0;
  --secondary: #006a71;
  --tertiary: #f2efe7;

  --transition: 0.2s;
}

body {
  margin: 0;
  background-color: var(--tertiary);
}

p {
  margin: 0;
}

main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  box-sizing: border-box;
}
